body {
    padding-top: 70px;
}

.entity {
    padding: 0.45em 0.6em;
    margin: 0 0.25em;
    border-radius: 0.35em;
}

.category {
    font-size: 0.8em;
    font-weight: bold;
    line-height: 1;
    border-radius: 0.35em;
    text-transform: uppercase;
    vertical-align: middle;
    margin-left: 0.5rem;
}

.person {
    background: #bfeeb7;
}

.city {
    background: #7aecec;
}

.results {
    margin-top: 40px;
}